<div class="col-md-12 col-lg-12 p-2">
  <div class="card mt-3">
    <div class="card-header">
      <h5 class="card-title mb-0">{{ .name }}</h5>
      <div class="sub-title">
        {{ if .authors }}
          <span>{{ .authors | markdownify }}</span> <br>
        {{ end }}
        <span><a href="{{ .organization.url }}" title="{{ .organization.name }}" target="_blank" rel="noopener">{{ .organization.name }}</a></span>
        <span class="ml-1">| {{ .timeline }}</span>
      </div>
    </div>
    <div class="card-body">
      <p>{{ .courseOverview | markdownify }}</p>
    </div>
    <div class="card-footer">
      {{ if .buttons }}
        {{ range .buttons }}
          <span>
            <a 
              class="btn btn-outline-info ml-1 pl-2 mb-2" 
              href="{{ .buttons.url }}" 
              target="_blank", 
              rel="noopener" role="button">
                  {{ if .icon }}
                    <i class="{{ .icon }}" style="color:#3b96cf"></i>
                  {{ end }}
                  {{ .name }} 
            </a>
          </span>
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
