{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 accomplishments-section" id="{{ $sectionID }}">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">{{ .section.title }}</h1>
  {{ end }}
  {{ if gt (len .accomplishments) 2 }}
    <h6 class="text-center"><em>{{ .section.subtitle | markdownify }}</em></h6>
  {{ end }}
  <div class="container">
    <div id="acomplishment-card-holder">
      {{ range $index, $accomplishments := .accomplishments}}
        <div style="{{ if $accomplishments.hidden }} display: none; transition: all 1s ease-out;{{ end }}"> 
        {{ partial "cards/accomplishments" . }}
        </div>
      {{ end }}
    </div>
  </div>
</div>
